/* AppBar */
.app-bar {
    padding: 8px 16px;
    background-color: #a3dcee;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
  }
  .app-bar .app-bar__menu {
    display: flex;
    align-items: center;
  }
  .app-bar .app-bar__menu button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-display: optional;
    padding: 8px;
    cursor: pointer;
    color: #6E221C;
    min-height: 44px;
    min-width: 44px;
  }
  .app-bar .app-bar__brand {
    display: flex;
    align-items: center;
  }
  .app-bar .app-bar__brand a {
    color: #15221C;
    text-transform: uppercase;
    font-size: 22px;
    font-weight:bolder;
    font-display: optional;
    display: block;
    user-select: none;
    min-height: 44px;
    min-width: 44px;
    text-align: center;
    line-height: 44px;
  }
  .app-bar .app-bar__navigation {
    position: absolute;
    top: 60px;
    left: -180px;
    width: 120px;
    transition: all 0.3s;
    padding: 8px;
    background-color:#a3dcee;
    overflow: hidden;
  }
  .app-bar .app-bar__navigation.open {
    left: 0;
  }
  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    text-decoration: none;
    color: #15221C;
    padding: 8px;
    margin-bottom: 5px;
    width: 100%;
    min-width: 44px;
    min-height: 44px;
  }
  