/* Button */
.kedai-item .kedai-item__content button {
    position: relative;
    border-radius: 5px;
    background-color: #040118;
    border: none;
    color: #fefffe;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: bolder;
    font-display: optional;
    text-transform: uppercase;
    min-height: 44px;
    padding: 14px 16px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 24px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  
  .kedai-item .kedai-item__content button:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  .kedai-item .kedai-item__content button:hover{
    padding-right: 24px;
    padding-left:8px;
    /* opacity: 0.8; */
  }
  
  .kedai-item .kedai-item__content button:hover:after {
    opacity: 1;
    right: 10px;
  }