/* Kedais */
.kedais {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin: 32px 0;
    padding: 0px 32px;
  }
  
  /* Kedai Item */
  .kedai-item {
    width: 100%;
    box-shadow: #1C1205;
    background-color: #a3dcee;
    border-radius: 8px;
    overflow: hidden;
    max-width: 400px;
  }
  .kedai-item__header {
    position: relative;
  }
  .kedai-item .kedai-item__header .kedai-item__header__poster {
    width: 100%;
    height: 300px;
  }
  .kedai-item .kedai-item__header .kedai-item__header__rating {
    position: absolute;
    opacity: 0.9;
    padding: 10px;
    bottom: 7px;
    left: 0;
    border-top-right-radius: 5px;
    display: inline-block;
    background-color: #000000;
    font-weight: bolder;
    color: #30BD0F;
    min-height: 44px;
  }
  .kedai-item .kedai-item__header .kedai-item__header__rating .kedai-item__header__rating__score {
    display: inline-flex;
    margin-left: 10px;
    position: absolute;
    opacity: 0.9;
    padding: 13px 10px 0px 10px;
    top: -155px;
    left: -10px;
    background-color: #000000;
    color: #e7f706;
    font-size: 10px;
    min-height: 44px;
  }
  .kedai-item .kedai-item__content {
    padding: 16px;
  }
  .kedai-item .kedai-item__content h3 {
    margin: 0 0 10px 0;
    min-height: 44px;
  }
  
  .kedai-item .kedai-item__content h3 a {
    display: block;
    position: relative;
    border-radius: 5px;
    color: #1C1205;
    text-align: center;
    text-decoration: none;
    font-style: oblique;
    font-weight: bolder;
    text-transform: capitalize;
    min-height: 44px;
    min-width: 44px;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .kedai-item .kedai-item__content h3 a:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    /* right: -20px; */
  }
  
  .kedai-item .kedai-item__content h3 a:hover{
    padding-right: 24px;
    padding-left:8px;
    background-color: #e5dcee;
    font-weight: bolder;
    text-shadow: 0px -1px 0px rgba(163, 179, 20, 0.5);
  }
  
  .kedai-item .kedai-item__content h3 a:hover:after {
    opacity: 1;
    right: 10px;
  }

  .kedai-item .kedai-item__content p {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    color: #002900;
    min-height: 44px;
  }
  
  /* kedai detail */
  .kedais-detail {
    padding: 0px 10px;
    background-color: #e5dcee;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .kedais-detail .kedai__poster {
    width: 100%;
    display: inline-block;
    margin: auto;
  }
  .kedais-detail .kedai__title {
    display: inline-block;
    color:#1C1205;
    padding: 30px;
    text-align: center;
    min-height: 44px;
  }
  .kedais-detail .kedai__info {
    box-shadow: 0 8px 10px 0 #1C1205;
    background-color: #b2ebd8;
    border-radius: 8px;
    overflow: hidden;
    margin: 50px -60px;
    padding: 10px;  
  }
  .kedais-detail .kedai__info h3, .kedais-detail .kedai__info p {
    color: #1C1205;
    min-height: 44px;
  }
  .kedais-detail .kedai__info h3 {
    font-size: 2.2em;
    text-align: center;
    margin: 8px 0;
    color: #1C1205;
    min-height: 44px;
  }
  .kedais-detail .kedai__info li {
    list-style: none;
    color: #1C1205;
  }
  .kedais-detail .review {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  .kedais-detail .review-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: auto;
    border: 1px solid #eeeeee;
    margin: auto;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
  }
  .kedais-detail .review-card p {
    color: #1C1205;
    min-height: 44px;
  }
  .kedais-detail .review-card i {
    text-align: center;
    font-size: 2rem;
    color: #1C1205;
  }
  .kedais-detail .review-card .review-name {
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
  }
  .kedais-detail .review-card .review-comment {
    font-size: 0.9rem;
    color: #1C1205;
  }
  .kedais-detail .review-card .review-date {
    font-size: 0.8rem;
    text-align: center;
  }
  .kedai__info .kedai__overview h3 {
    color: black;
    text-align: center;
    min-height: 44px;
  }
  .kedai__info .kedai__overview p {
    color: #1C1205;
    min-height: 44px;
  }
  .empty-favorite-tag {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .empty-favorite-tag p{
    color: #1C1205;
    font-size: 20px;
  }
  .empty-favorite-tag i{
    color: #1C1205;
    font-size: 50px;
  }
  /* Table */
  table, th, td {
    border-collapse: collapse;
  }
  td {
    padding: 20px 20px 0px 0px;
    text-align: justify;
  }
  th {
    padding: 20px 15px 0px 10px;
    text-align: left;
    vertical-align: top;
  }
  