/* hero */
.hero {
    position: relative;
    width: 100%;
    height: 40vh;
  }
  .hero img {
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  .hero .title {
    width: 100%;
    height: 35vh;
    color: #fafafa;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hero .title h4 {
    font-size: 30px;
    font-display: optional;
    font-weight: bolder;
    font-family: 'Lato', sans-serif;
    color:#fafafa;
    min-height: 44px;
  }
  .hero .title p {
    color:#fafafa;
    font-weight: bolder;
    font-family: 'Noto Sans JP', sans-serif;
    font-display: optional;
    min-height: 44px;
  }