@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP&family=Noto+Sans+TC');
@import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/all.css');
@import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/v4-shims.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans', sans-serif;
  font-display: optional;
  background-color: #FFF8FE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


/* skip to content */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #FFF8FE;
  color: #000000;
  padding: 8px;
  z-index: 100;
}
.skip-link:focus {
  top: 0;
}

/* Search Area In Favorite */     
input[type="text" i] {
  position: relative;
  min-height: 44px;
  margin: 10px;
  border-radius: 5px;
  border-color:currentColor;
  background-color: transparent;
}

/* Like */
.like {
  font-size: 18px;
  font-display: optional;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #000000;
  color: #ff0808;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  flex: 1;
}
.content {
  margin: 0 auto;
  min-height: 100%;
}
.content h2 {
  text-align: center;
  color: #1C1205;
  font-size: 24px;
  font-display: optional;
  min-height: 44px;
}
.content .content__heading {
  font-weight: bolder;
  font-display: optional;
  padding-top: 20px;
  color:#1C1205;
}

/* About Us */
.aboutus {
  position: relative;
  width: 100%;
  height: 80vh;
}
.aboutus img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  object-fit: cover;
}
.aboutus h4 {
  position:absolute;
  font-size: 2.2vw;
  font-weight: bolder;
  font-family: 'Noto Sans JP', sans-serif;
  font-display: optional;
  top:17px;
  left: 15px;
  color:#1C1205;
  
  min-height: 44px;
}
.aboutus p {
  position:absolute;
  font-size: 1.5vw;
  font-weight: bolder;
  font-family: 'Noto Sans TC', sans-serif;
  font-display: optional;
  top:52px;
  left: 15px;
  color:#1C1205;
  
  min-height: 44px;
}

/* Footer */
footer {
  padding: 16px;
  background-color: #a3dcee;
  text-align: center;
  color: #1C1205;
  min-height: 44px;
  font-size: 18px;
  font-display: optional;
}